.contact-grid {
   display: grid;
   grid-template-columns: repeat(1, minmax(0, 1fr));
   gap: 1em;
}

.grid-col {
   height: fit-content;
}

.card {
   height: 100%;
}

#cards-section {
   padding: 2em 0;
}

#contact-movil, #contact-email, #contact-locate {
   padding-left: 1.5em;
   position: relative;
}

#contact-movil::before, #contact-email::before, #contact-locate::before {
   font-family: "Material Icons";
   margin-right: .3em;
   position: absolute;
   left: 0;
}

#contact-movil::before {
   content: "\e0cd";
}

#contact-email::before {
   content: "\e158";
}

#contact-locate::before {
   content: "\e0c8";
}

#contact-horario > li {
   display: flex;
   justify-content: space-between;
} 

iframe {
   width: 100% !important;
}

@media (min-width: 600px) {
   .contact-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
   } 
}

@media (min-width: 768px) {
   .contact-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}