.esp-grid {
   display: grid;
   grid-template-columns: repeat(1, minmax(0, 1fr));
   gap: 1em;
}

.esp-info {
   line-height: 1.1em;
}

@media (min-width: 600px) {
   .esp-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
   } 
}

@media (min-width: 992px) {
   .esp-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}