<div class="especialidad fadeIn">

   <ng-container *ngIf="especialidad; else notFound">
      <section class="section-bg-color">
         <div class="container">
            <div class="jumbotron">
               <h2>{{especialidad.title}}</h2>
            </div>
         </div>
      </section>
      <section class="section-no-bg">
         <div class="container">
            <p>{{especialidad.info}}</p>
         </div>
      </section>
   </ng-container>

   <ng-template #notFound>
      <section class="section-bg-color">
         <div class="container">
            <div class="jumbotron">
               <h2>No existe esa página</h2>
            </div>
         </div>
      </section>
   </ng-template>
</div>
