<div class="equipo fadeIn">
    <section class="section-bg-color">
        <div class="container">
            <div class="jumbotron">
                <h2>Equipo Médico</h2>
            </div>
        </div>
    </section>

    <section class="section-no-bg">
        <div class="container">
            <div class="card">
                <div class="equipo-img-div">
                    <img src="assets/img/logo-192.png" alt="logo" />
                </div>
                <div class="space-y-1">
                    <h5>
                        <span class="d-block sub-title text-primary"
                            >Dra. Inés María Lominchar</span
                        >
                        <span class="d-block text-300">Odontóloga</span>
                    </h5>
                    <div class="logros">
                        <h6 class="sub-title">Formación y logros</h6>
                        <ul>
                            <li>
                                Licenciada en Odontología
                            </li>
                            <li>
                                Cursando Máster en Periodoncia y Osteointegración
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="hr bg-secondary"></div>

            <div class="card">
                <div class="equipo-img-div">
                    <img src="assets/img/logo-192.png" alt="logo" />
                </div>
                <div class="space-y-1">
                    <h5>
                        <span class="d-block sub-title text-primary"
                            >Dr. Raúl Rivera</span
                        >
                        <span class="d-block text-300">Odontólogo</span>
                    </h5>
                    <div class="logros">
                        <h6 class="sub-title">Formación y logros</h6>
                        <ul>
                            <li>
                                Licenciado en Odontología
                            </li>
                            <li>
                                Máster en Cirugía e Implantología
                            </li>
                            <li>
                                Máster en Regeneración Avanzada
                            </li>
                            <li>
                                Especialista en Periodoncia
                            </li>
                            <li>
                                Más de 20 años en la profesión
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
