<div class="home fadeIn">
    <section class="section-bg-color">
        <div class="container">
            <div class="jumbotron">
                <h3 class="title">{{ name }}</h3>
                <h2>
                    TU <span class="primary">SONRISA</span>
                    , TU <span class="primary">SALUD</span>
                </h2>
                <h4>
                    Nuestra sonrisa es nuestra carta de presentación y
                    constituye una parte esencial de la imagen que proyectamos
                    hacia los demás.
                </h4>
            </div>
        </div>
    </section>

    <section class="section-no-bg">
        <div class="container">
            <!-- <img src="assets/img/clinica/woman-smiling.jpg" alt="" height="400"> -->
        </div>
    </section>

    <!--     <section class="section-bg-color">
        <div class="container">
            <p>home works!</p>
        
            <button class="btn btn-primary">Boton</button>
            <button class="btn btn-secondary">Boton</button>
            
            <p [innerText]="endo.title | uppercase"></p>
            <p [innerText]="endo.info"></p>
        </div>
    </section>

    <section class="section-no-bg">
        <div class="container">
            <p>home works!</p>
        
            <button class="btn btn-primary">Boton</button>
            <button class="btn btn-secondary">Boton</button>
            
            <p [innerText]="endo.title | uppercase"></p>
            <p [innerText]="endo.info"></p>
        </div>
    </section> -->
</div>
