<div class="home fadeIn">

    <div class="section-bg-color">
        <section class="container">
        
            <p>home works!</p>
            
            <button class="btn btn-primary">Boton</button>
            <button class="btn btn-secondary">Boton</button>
            
            <p [innerText]="endo.title | uppercase"></p>
            <p [innerText]="endo.info"></p>
        </section>
    </div>

    <section class="container">
        
        <p>home works!</p>
        
        <button class="btn btn-primary">Boton</button>
        <button class="btn btn-secondary">Boton</button>
        
        <p [innerText]="endo.title | uppercase"></p>
        <p [innerText]="endo.info"></p>
    </section>

    <div class="section-bg-color">
        <section class="container">
        
            <p>home works!</p>
            
            <button class="btn btn-primary">Boton</button>
            <button class="btn btn-secondary">Boton</button>
            
            <p [innerText]="endo.title | uppercase"></p>
            <p [innerText]="endo.info"></p>
        </section>
    </div>
    
    
</div>