<header>
    <div class="nav-bar container">
        <div class="nav-header" [routerLink]="['inicio']" (click)="closeNavFromLink()">
            <img src="assets/img/logo-192.png" alt="clinica lillo logo" height="50" width="50">
            <h1>
                <span>{{title[0]}} {{title[1]}}</span>
                <span class="text-400">{{title[2]}}</span>
            </h1>
        </div>

        <nav class="nav-list">
            <mat-icon *ngIf="open" id="close-icon" class="iconx1_5" aria-hidden="false" aria-label="close icon" (click)="closeNav()">close</mat-icon>
            <mat-icon *ngIf="!open" id="menu-icon" class="iconx1_5" aria-hidden="false" aria-label="menu icon" (click)="openNav()">menu</mat-icon>
            <ul [@slide]="stateName">
                <li *ngFor="let value of links">
                    <a [routerLink]=[value.link] routerLinkActive="active-link" (click)="closeNavFromLink()">{{value.title | uppercase}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div *ngIf="open" class="slideNav-backdrop"></div>
