/*
    Breakpoints:
        - Extra small devices(phones): 600px and down
        - Small devices(Tablets): 600px and up
        - Medium devices(Landscape tablets): 768px and up
        - Large devices(Laptops): 992px and up
        - Extra large devices(Large laptops and desktop): 1200px and up
*/

@import url(assets/styles/reset.min.css);
@import url(assets/styles/components.css);

:root {
   --primary-color: #2deeb9;
   --primary-color-hover: #11d4a0;
   --secondary-color: #b0b0b0;
   --secondary-color-hover: #969696;
   --section-bg-color: #f3f3f3;
   --footer-color: #595959;
   --optional-footer-color: #0a755b;
}

body,
button {
   font-size: 1em;
   font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.sub-title {
   font-family: 'Outfit', sans-serif;
}

main {
   /* 100vh - (altura nav + altura footer) */
   min-height: calc(100vh - (82px + 282px)); 
   z-index: 1;
}

.fadeIn {
   animation: fadeIn 1s ease both;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}